pkgbase = matrixpost
	pkgdesc = Rust CLI, MCP server, and headless publication daemon for MatriXpost
	pkgver = 0.3.1
	pkgrel = 1
	url = https://github.com/lightjunction/MatriXpost
	arch = x86_64
	arch = aarch64
	license = GPL-2.0-only
	makedepends = cargo
	makedepends = rust
	depends = gcc-libs
	depends = glibc
	source = matrixpost-0.3.1.tar.gz::https://github.com/LIghtJUNction/MatriXpost/archive/bceb3036079ee260e035799628a1db34aa2aef62.tar.gz
	sha256sums = cd095e4242861c45dd5ad55e2e070ec860b927d4f09915e0698264a32fcbeba1

pkgname = matrixpost
