pkgbase = matrixpost
	pkgdesc = Rust CLI, MCP server, and headless publication daemon for MatriXpost
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/lightjunction/MatriXpost
	arch = x86_64
	arch = aarch64
	license = GPL-2.0-only
	makedepends = cargo
	makedepends = rust
	depends = gcc-libs
	depends = glibc
	source = matrixpost-0.1.0.tar.gz::https://github.com/LIghtJUNction/MatriXpost/archive/3a9044981b75ad631f9ce7c7bb9622362d65c19d.tar.gz
	sha256sums = d2f6f3a24c2526234ff82f999e17cafea0fa4c0615998cfe518611c7651fcd4f

pkgname = matrixpost
